boto3==1.26.69
celery==5.2.7
channels==4.0.0
daphne==4.0.0
Django==4.0.6
django-cors-headers==3.13.0
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
psycopg2==2.9.3
asgiref==3.5.2